@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");

html,
h1,
h2,
h3,
h4,
p,
a,
li,
button {
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #212c42;
  color: white;
}
.game-body {
  border-radius: 10px;
  border: 1px solid #ececec;
  min-height: calc(100vh - 50px);
  background-color: #212c42;
  overflow: auto;
}
.danger {
  color: #eb0037;
}
.option {
  background-color: #454e60;
}
.option:hover {
  background-color: #454e6087;
}
.case-container:hover .case-badge {
  outline: 1px solid;
}
.case {
  line-height: 1.25;
}
.bi {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.back {
  background: #525a6a;
}
.back:hover {
  background: #474c54;
}
.thm-bg-success {
  background: #3bc81e;
}
.thm-bg-success:hover {
  background: #32971d;
  outline: 1px solid #d4d8df;
}
.thm-text-success {
  color: #a3ea2a;
}
.playground {
  width: 700px;
}
.playground .playground-bg {
  border-radius: 4px;
  border: 1px solid #ffffff;
}
.playground .overlay {
  top: 0;
  left: 0;
  z-index: -1;
}
.playground .overlay.show {
  z-index: 1;
}
.modal-content {
  background-color: #161e2d;
  border: 1px solid white;
  color: white;
}
.modal-header {
  color: white;
  border-bottom: 1px solid white;
}
button:focus {
  border: 1px solid transparent !important;
}
.neutral {
  background-color: #454e60;
}
.neutral:focus {
  background-color: #454e60;
}
.neutral:hover {
  background-color: #454e6087;
}
.case-badge {
  right: 0;
  z-index: 1;
  top: 0;
}
.thm-bg-dark {
  background-color: #151c2b;
}
.avatar {
  background: #212c42;
  border: 1px solid #a3ea2a;
}
.logo {
  max-height: 65px;
}
.cursor-pointer {
  cursor: pointer !important;
}
button:focus {
  border: 1px solid transparent !important;
}
.flag-container {
  background-color: #161e2d;
  border: 1px solid white;
  color: white;
  border-radius: 0.5rem;
}
.flag-header {
  color: white;
  border-bottom: 1px solid white;
  padding: 0.5rem 1rem;
}
.flag-content {
  padding: 1rem 1rem;
}
